* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #edffec;
  color: #202124;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
