* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  height: 100vh;
  color: #fff;
  background: #181a1b;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin-bottom: 10px;
  width: 1100px;

  text-align: center;
}

#title h1 {
  font-size: 1.4rem;
}

form {
  width: 1100px;

  padding: 60px 80px;

  display: flex;
  flex-direction: column;

  border: 1px solid white;
  border-radius: 4px;
}

form div {
  display: flex;
  flex-direction: column;
}

form div + div {
  margin-top: 10px;
}

form div label {
  margin-bottom: 3px;
  font-size: 1.5rem;
}

input {
  height: 60px;
  padding: 0 5px;
  font-size: 2rem;
  border-radius: 5px;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* https://stackoverflow.com/questions/5394116/outline-radius */
#binary {
  box-shadow: 0 0 0 1pt grey;
  transition: box-shadow 0.1s;
}

#binary:focus {
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}

button {
  align-self: center;

  margin-top: 20px;
  height: 60px;
  padding: 0px 30px;

  background: #2c5282;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;

  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  form {
    width: 700px;
  }
}

@media (max-width: 720px) {
  form {
    width: 500px;
    padding: 20px 40px;
  }

  input {
    height: 50px;
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  #title {
    margin: 2rem 0;
  }

  #title h1 {
    font-size: 1rem;
  }

  form {
    width: 320px;
    flex: 1;
    padding: 0;
    border: 0;
  }

  input {
    height: 60px;
    font-size: 1.5rem;
  }
}
