{
	"presets": [
		"@babel/preset-env",
		[
			"@babel/preset-react",
			{
				"runtime": "automatic"
			}
		],
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			// To use async/await
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		]
	]
}
